body {
     padding: 40px;
   }
   @media (max-width: 980px) {
     body {
       padding-top: 0;
     }
  
   }
  


td {
  padding: 10px;
}


td.main_title { 
  padding: 10px;

  width: 14%;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.main_thumbnail {

  width: 17%;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


td.main_uri { 
  padding: 10px;

  width: 45%;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


td.main_status { 
  padding: 10px;

  /*width: 50%;*/
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
  word-wrap: break-word;
}


td.main_enabled { 
  padding: 10px;

  width: 8%;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}







td.users_username{ 
  padding: 10px;

  width: 21%;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


td.users_password { 
  padding: 10px;

  width: 21%;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


td.users_pushover { 
  padding: 10px;

  /*width: 50%;*/
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


td.users_enabled { 
  padding: 10px;

  width: 8%;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


td.users_delete { 
  padding: 10px;

  width: 8%;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loader_img{
  width: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.login-container {
  width: 400px;
}

.stream-thumbnail {
  width: 150px;
}